<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.app.sarasamuscaya"
        version   = "1.0.2">

    <name>Sarasamuscaya</name>

  <description>
      Aplikasi Sarasamuscaya.
  </description>

  <author href="https://github.com/tuebom/sarasamuscaya.git" email="tuebom.wirya@gmail.com">
      Putu Wirya
  </author>

  <content src="index.html"/>
  <preference name="permissions" value="none"/>
  <preference name="orientation" value="default"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="true"/>
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="show-splash-screen-spinner" value="false"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="android-installLocation" value="auto"/>
  <preference name="phonegap-version"       value="cli-7.1.0" />
  <!--<preference name="android-build-tool" value="gradle" />-->
  
    <!-- Plugins -->
  <plugin name="cordova-plugin-admobpro" source="npm" />
  <!--<plugin name="cordova-plugin-splashscreen" source="npm" />-->
  <plugin name="cordova-plugin-x-socialsharing" source="npm" />

  <plugin name="cordova-plugin-console" source="npm" />
  <plugin name="cordova-plugin-device" source="npm" />
  <plugin name="cordova-plugin-dialogs" source="npm" />
  <plugin name="cordova-plugin-file" source="npm" spec="~4.3.3" />
  <preference name="AndroidPersistentFileLocation" value="Compatibility" />
  <plugin name="cordova-plugin-sqlite-2" spec="~1.0.4" />
  <plugin name="cordova-plugin-inappbrowser" source="npm" />
  <plugin name="cordova-plugin-network-information" source="npm" />
  <plugin name="cordova-plugin-vibration" source="npm" />
  <plugin name="cordova-plugin-whitelist" source="npm" />
  
  <!--<icon src="img/icon/icon.png"/>-->
  <platform name="android">
  <icon src="res/icon/android/icon-36-ldpi.png" density="ldpi"/>
  <icon src="res/icon/android/icon-48-mdpi.png" density="mdpi"/>
  <icon src="res/icon/android/icon-72-hdpi.png" density="hdpi"/>
  <icon src="res/icon/android/icon-96-xhdpi.png" density="xhdpi"/>
  </platform>

  <!-- Define app splash screen for each platform. -->
  <gap:splash src="res/screen/android/screen-ldpi-portrait.png" gap:platform="android" gap:qualifier="port-ldpi"/>
  <gap:splash src="res/screen/android/screen-mdpi-portrait.png" gap:platform="android" gap:qualifier="port-mdpi"/>
  <gap:splash src="res/screen/android/screen-hdpi-portrait.png" gap:platform="android" gap:qualifier="port-hdpi"/>
  <gap:splash src="res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:qualifier="port-xhdpi"/>
  <access origin="*"/>
</widget>
