/* Your app styles here */

/* Left Panel right border when it is visible by breakpoint */
.panel-left.panel-visible-by-breakpoint:before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

/* Hide navbar link which opens left panel when it is visible by breakpoint */
.panel-left.panel-visible-by-breakpoint ~ .view .navbar .panel-open[data-panel="left"] {
  display: none;
}

/*
  Extra borders for main view and left panel for iOS theme when it behaves as panel (before breakpoint size)
*/
.ios .panel-left:not(.panel-visible-by-breakpoint).panel-active ~ .view-main:before,
.ios .panel-left:not(.panel-visible-by-breakpoint).panel-closing ~ .view-main:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}


.notice {
    padding: 10px;
    background-color: #fafafa;
    border-left: 2px solid #7f7f84;
    margin: 5px;
    /*margin-bottom: 10px;*/
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info>strong {
    color: #45ABCD;
}
.notice-warning {
    border-color: #FEAF20;
}
.notice-warning>strong {
    color: #FEAF20;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}

/*.swiper-container {
  height: 100%;
}*/

.swiper-slide {
  height: 100%;
}

.perkiraan {
    padding-left: 5px;
    /*padding-top: 2px;
    padding-bottom: 2px;*/
    color: #000;
    text-align: left !important;
}
.total {
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #000;
    text-align: left !important;
    font-weight: bold;
}
.nominal {
    /*padding: 3px 0;*/
    color: #000;
    text-align: right !important;
}
.nominal-total {
    /*padding: 3px 0;*/
    padding-top: 10px;
    padding-bottom: 5px;
    color: #000;
    text-align: right !important;
    font-weight: bold;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.color-change {
  color: #f44336 !important;
}

i.material-icons.fav, i.material-icons.share {
  padding-top: 5px;
  color: #9e9e9e;
}

a {
  color: #212121;
}

p {
  color: #607d8b;
}

/*.page-content.article {
  height: calc(100% - 168px);
}

.page-content.article {
  padding-top: 0;
}*/

.page-content.home {
  background-color: #f2f2f2;
}

/*.navbar {
  background-color: #55acee;
}*/

.card {
  box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.3); /*, 0px 0px 3px 0px rgba(0, 0, 0, 0.24);*/
}

.card-content-inner {
  padding: 5px
}

.opacity-container {
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  color: #fff;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.category-title {
  padding: 0px 16px;
  margin: 1em 0;
  font-size: 16px;
  font-weight: 500;
}

.product-header {
  max-width: 100%;
  height: auto;
}

/*.material-icons {
  color: white;
  line-height: 0;
}*/

.material-icons.product-detail {
  color: #55acee;
  line-height: 0;
}

.button {
  color: white;
  text-transform: none;
  background-color: #55acee;
  border-radius: 15px;
  height: 30px;
  width: 70px;
  font-weight: 500;
  line-height: 31px;
}

.button.larger {
  width: 80%;
  margin: 0 auto;
}

.product-name,
.product-total,
.item-title.product {
  color: #607d8b;
  font-weight: 700;
}

.item-after.product,
.product-price {
  color: #8bc34a;
  font-weight: 700;
}

.product-price.total {
  color: #8bc34a;
  font-size: 16px;
}

.md .navbar {
    background: #ffc107;
}

.md .data-table td.label-cell.tool {
  padding-left: 0px;
  padding-right: 0px;
}

.list .item-title {
  padding-top: 5px;
}

.md .block {
  margin: 8px 0;
}

.md .list {
  margin: 0;
}

.md .list .item-link .item-inner, .md .list .list-button .item-inner {
  display: block;
}

.md .item-floating-label, .md .item-label {
  text-align: left;
}

/*.md .button.button-raised .larger {
  margin-left: auto;
  margin-right: auto;
  width:80%;
}*/

.product-color {
  color: #607d8b;
  font-weight: 700;
}

.color {
  display: inherit;
  margin-right: -10px;
}

.color-grey {
  background-color: #d0d0d4;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  margin-right: 10px;
}

.color-gold {
  background-color: #d4bba3;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  margin-right: 10px;
}

.color-sideral {
  background-color: #9b9ba0;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  margin-right: 10px;
}

/*.item-title {
  font-size: 14px;
  font-weight: 500;
  color: #607d8b;
}*/

div[class*="col-"] {
  text-align: center;
}

.label-switch input[type="checkbox"]:checked + .checkbox:after {
  background: #55acee !important;
}

.list-block input[type="text"], .list-block input[type="password"], .list-block input[type="search"], .list-block input[type="email"], .list-block input[type="tel"], .list-block input[type="url"], .list-block input[type="date"], .list-block input[type="datetime-local"], .list-block input[type="time"], .list-block input[type="number"], .list-block select, .list-block textarea {
  font-size: 16px;
  color: #607d8b;
  font-weight: 500;
}

.list-block.inputs-list .label {
  font-size: 14px;
}

.page-content.login-screen-content {
  background-color: white;
}

.material-icons.login-logo {
  color: #55acee;
  font-size: 130px;
}

.panel {
  background-color: white;
}

.material-icons.menu {
  color: #607d8b;
  font-size: 20px;
}

.item-title.menu {
  color: #607d8b;
  font-weight: 500;
}

.item-inner.menu {
  background-image: none !important;
}

.md .list ul:before,
.md .list ul:after,
.item-inner.menu:after {
  display: none;
}

/*.md .list .item-media {
  font-size: 24px;
}*/

.md .list .item-text {
  display: block;
  max-height: 100%;
}

.md .data-table thead th {
  font-size: 14px;
  font-weight: bold;
}

.navbar-fixed .page .login-screen-content {
  padding-top: 0px;
}

img.responsive-card {
  display:block;
  padding-top: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 32px;
}

img.responsive {
  width: 100%;
  height: 168px;
}

.article-title {
  padding: 0px 16px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 500;
  width: 50%;
  text-align: center;
  /*width: 100%;
  text-align: center;*/
}

.intro {
  color: #212121;
  font-weight: 400;
  padding: 12px 0px;
  font-size: 18px;
  text-align: center;
}

.article-header,
.profile-header {
  max-width: 100%;
  height: auto;
  margin-top: -56px;
}

.navbar.article {
  background-color: rgba(255, 193, 7, 0);
}

.header-container {
  position: relative;
}

.searchbar.nasional .searchbar.lokal {
  display:none;
}

/* Facebook style */

.facebook-card .card-header {
  display:block;padding:10px;
}

.facebook-card .facebook-avatar {
  float:left;
}

.facebook-card .facebook-name {
  margin-left:44px;
  font-size: 14px;
  font-weight: 500;
}

.facebook-card .facebook-date {
  margin-left:44px;
  font-size:13px;
  color:#8e8e93;
}

.facebook-card .card-footer {
  background:#fafafa;
}

.facebook-card .card-footer a {
  color:#81848b;
  font-weight:500;
}

.facebook-card .card-content img {
  display:block;
}

.facebook-card .card-content-inner {
  padding:15px 10px;

/*
===============================================

PROFILE

=================================================
*/
.col-33.info {
  font-weight: 300;
}

.col-33.stats {
  font-size: 18px;
}

/*
===============================================

FOLLOWING - FOLLOWERS

=================================================
*/
.list-block .item-title.followers,
.list-block .item-title.following {
  color: #212121;
  font-weight: 500;
}

.kb {
  width: 100%;
  height: 0px;
}
